<h1><%= @perfume.name %></h1>
<p>Maker: <%= link_to @perfume.maker.brand, @perfume.maker %></p>


<%= link_to 'Delete Perfume', @perfume, method: 'delete', local: true %> - <%= link_to 'Back', @perfume.maker %>
