<h1>Maker List</h1>

<ul>
<% @makers.each do |maker| %>
  <li>
    <%= link_to maker.brand, maker %>
    <%= link_to 'Delete', maker, method: 'delete', local: true %>
  </li>
  <% end %>
</ul>

<%= link_to 'Add Maker', new_maker_path %>
